<% layout("/layouts/boilerplate") -%>
<body>
    <!-- Edit Listing :-<br>
    <form action="/listings/<%=place._id %>?_method=PATCH" method="post">
        <pre>
        Title : <input type="text" name="List[title]" value="<%= place.title %>">
        Description : <textarea type="text" name="List[description]"><%= place.description %></textarea>
        Image Url : <input type="text" name="List[image]" value="<%= place.image %>">
        Price : <input type="text" name="List[price]" value="<%= place.price %>">
        Location : <input type="text" name="List[location]" value="<%= place.location %>">
        Country : <input type="text" name="List[country]" value="<%= place.country %>">
        </pre><br>
        <button type="submit">Submit</button>
    </form> -->

        <h2 id="addL">Add Listing</h2>
        <div class="new-form-box">
            <form action="/listings/<%=place._id %>?_method=PATCH" method="post" novalidate class="needs-validation">
    
            <div class="row mb-3">
              <label for="input-title" class="col-sm-2 col-form-label">Title :</label>
              <div class="col-sm-10">
                <input type="text" name="List[title]" class="form-control" id="input-title" value="<%= place.title %>" required>
              </div>
            </div>
    
            <div class="row mb-3">
              <label for="input-description" class="col-sm-2 col-form-label">Description :</label>
              <div class="col-sm-10">
                <textarea class="form-control" name="List[description]" id="input-description" required><%= place.description %></textarea>
              </div>
            </div>
    
            <div class="row mb-3">
                <label for="input-url" class="col-sm-2 col-form-label">Image Url :</label>
                <div class="col-sm-10">
                  <input type="text" name="List[image]" class="form-control" id="input-url" value="<%= place.image %>" required>
                </div>
              </div>
    
            <div class="row mb-3">
                <label for="input-price" class="col-sm-2 col-form-label">Price :</label>
                <div class="col-sm-10">
                  <input type="text" name="List[price]" class="form-control" id="input-price" value="<%= place.price %>" required>
                </div>
            </div>
    
            <div class="row mb-3">
                <label for="input-location" class="col-sm-2 col-form-label">Location :</label>
                <div class="col-sm-10">
                  <input type="text" name="List[location]" class="form-control" id="input-location" value="<%= place.location %>" required>
                </div>
            </div>
    
            <div class="row mb-3">
                <label for="input-country" class="col-sm-2 col-form-label">Country :</label>
                <div class="col-sm-10">
                  <input type="text" name="List[country]"" class="form-control" id="input-country" value="<%= place.country %>" required>
                </div>
            </div>
    
            <button type="submit" class="btn btn-primary" >Submit</button>
    
          </form>
        </div>
</body>
